@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  color: var(--black);

  --teal: hsl(192, 37%, 48%);
  --teal-75: hsla(192, 37%, 48%, 85%);
  --teal-2: #71C0D4;
  --light-teal: #8FE3F9;
  --dark-purple: #855FB1;
  --purple: #B18BDD;
  --light-purple: #D9B8FF;
  --black: #28283D;
  --grey: #87879D;
  --grey-25: hsla(240, 10%, 57%, 25%);
  --cyan: #8FE3F9;

  --light-purple: #D9B8FF;
  --white: #FAFAFA;

  --button-font-size: 1rem;
  --h1-font-size-l: 4rem;
  --h1-line-height-l: 4rem;
  --h1-font-size-m: 3rem;
  --h1-line-height-m: 3rem;
  --h1-font-size-s: 2.5rem;
  --h1-line-height-s: 2.75rem;
  --h2-font-size-l-m: 2.5rem;
  --h2-line-height-l-m: 2.75rem;
  --h2-font-size-s: 2rem;
  --h2-line-height-s: 2.25rem;
  --p-font-size-l-m: 1.125rem;
  --p-line-height-l-m-s: 1.625rem;
  --p-font-size-s: 1rem;
  --h3-font-size: 1rem;
  --heading-font-weight: 900;
  --h3-letter-spacing: 0.25rem;
 }

* {
  font-weight: 500;
}

h1 {
  margin: 0;
  font-weight: var(--heading-font-weight);
  font-size: var(--h1-font-size-s);
  line-height: var(--h1-line-height-s);
}

h2 {
  margin: 0;
  font-weight: var(--heading-font-weight);
  font-size: var(--h2-font-size-s);
  line-height: var(--h2-line-height-s);
}

h3 {
  margin: 0;
  font-weight: var(--heading-font-weight);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--teal);
}

p {
  margin: 0;
  font-size: var(--p-font-size-s);
  line-height: var(--p-line-height-l-m-s);
  color: #87879D;
}

body {
  margin: 0;
  background: var(--white);
}

header {
  margin-top: 3rem;
  overflow: hidden;
}

.header-illustrations {
  margin: 0 -1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  display: block;
}

.hero-mobile {
  margin-top: 3.375rem;
  max-width: 820px;
  width: 100%;
}

.hero-desktop {
  display: none;
}

main {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 3rem;
  padding: 0 1.5rem;
}

.product-details {
  padding: 0 1.5rem;
  text-align: center;
  display: grid;
  place-items: center;
}

.intro {
  display: grid;
  place-items: center;
  max-width: 1110px;
}

.intro-padding {
  max-width: 460px;
}

.p-main {
  margin-top: 2rem;
}

.buttons {
  margin-top: 2rem;
}

button {
  padding: 1rem 2.5rem;
  border-radius: 500px;
  border: none;
  background: var(--dark-purple);
  font-family: 'Red Hat Display', sans-serif;
  font-size: var(--p-font-size-s);
  font-weight: 900;
  color: var(--white);
}

.intro-padding button:first-of-type {
  margin-bottom: 1rem;
  background: var(--teal);
}

.intro-padding button:first-of-type span {
  color: var(--light-teal);
  font-weight: 900;
}

.intro-padding button:last-of-type {
  padding: 1rem 1.8125rem;
  margin: 0 1rem;
}

button:hover {
  background: var(--purple);
}

button:active {
  background: var(--white);
  outline: solid 1px var(--purple);
  color: var(--purple);
}

.intro-padding button:first-of-type:hover {
  background: var(--teal-2);
}

.intro-padding button:first-of-type:active {
  background: var(--white);
  outline: solid 1px var(--teal-2);
  color: var(--teal-2);
}

.images {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
  transition: 0.3s ease-out;
}

.images img {
  border-radius: .5rem;
  width: 100%;
}

.features {
  margin-top: 4rem;
  max-width: 540px;
}

.features-headline {
  margin-top: 1.5rem;
}

.features-p {
  margin-top: 1.5rem;
}

footer {
  margin: 0 1.5rem 1.5rem;
  text-align: center;
  color: var(--white);
  background: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-teal-background {
  display: grid;
  place-items: center;
  padding: 5.75rem 1.5rem 4.5rem;
  background-color: var(--teal-75);
}

.footer-padding {
  max-width: 570px;
}

footer h2 {
  margin: 0;
  font-weight: 700;
}

.footer-p {
  font-size: var(--p-font-size-l-m);
  color: var(--white);
  margin-top: 2rem;
  font-weight: 400;
}

footer button {
  margin-top: 2.5rem;
}

footer button span {
  color: var(--light-purple);
  font-weight: 900;
}

.divider-container {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider-container:last-of-type {
  margin-top: 5rem;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-number {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: -1.7rem;
  border: 1px solid var(--grey-25);
  border-radius: 500px;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--white);
  }

.section-number p {
  margin: 0;
  font-weight: 900;
}
.left-divider {
  height: 7rem;
  border-right: 1px solid var(--grey-25);
}

@media (min-width: 550px) {
  h1 {
  font-size: var(--h1-font-size-m);
  line-height: var(--h1-line-height-m);
  }
  
  h2 {
    font-size: var(--h2-font-size-l-m);
    line-height: var(--h2-line-height-l-m);
  }
  
  p {
    font-size: var(--p-font-size-l-m);
  }
  
  main {
    margin-top: 4.5rem;
  }

  .intro-padding {
    max-width: 540px;
    width: 100%;
  }

  .images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .75rem;
  }
}

@media (min-width: 1024px) {
  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
  }

  main {
    margin-top: unset;
    padding-top: 6.75rem;
    overflow: hidden;
  }

  .desktop-header {
    margin: 0 -40rem 0;
    display: flex;
    gap: 5.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .intro-padding {
    min-width: 540px;
    width: 100%;
  }

  .left {
    position: relative;
    top: -55px;
    height: 100%;
  }

  .right {
    height: 100%;
  }

  footer button {
    margin-top: unset;
  }

  .footer-padding {
    max-width: 1110px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  .footer-headline-container {
    max-width: 350px;
    text-align: left;
  }

  .footer-p-container {
    max-width: 350px;
    text-align: left;
  }

  .footer-p {
    margin: 0;
  }

  h1 {
  font-size: var(--h1-font-size-l);
  line-height: var(--h1-line-height-l);
  }

  .button-p-container {
    display: grid;
    place-items: center;
  }

  .images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.875rem;
  }

}